<header class="p-2 bg-primary flex justify-center">
    <div class="w-full md:w-9/12 flex justify-between">
        <h1 class="m-0 not-italic text-ghost_white-700"><a href="/site/" class="no-underline text-white">4strodev</a></h1>

        <div class="flex gap-8 align-middle">
            <ul class="flex gap-4">
                <li>
                    <a class="h3 m-0 no-underline text-white" href="/site/">
                        Inicio
                    </a>
                </li>
                <li>
                    <a class="h3 m-0 no-underline text-white" href="/site/about">
                        Acerca de
                    </a>
                </li>
                <li>
                    <a class="h3 m-0 no-underline text-white" href="/site/blog">
                        Blog
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
