[submodule "packages/wiring"]
	path = packages/wiring
	url = git@github.com:4strodev/wiring
[submodule "packages/go-markdown-emoji"]
	path = packages/go-markdown-emoji
	url = git@github.com:4strodev/wiring
